body {
  margin: 0;
  padding: 0;
  background-color: #191919;
  font-family: "Arial", "Helvetica", sans-serif;
}

header {
  background-color: #191919;
  color: #fff;
  padding: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
}

.logo {
  display: flex;
}

.App-header-small {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.logo, .footer-logo {
  font-size: 24px;
  font-weight: normal;
  margin-right: 80px;
  color: #f0e9e9;
  font-family: serif;
  text-decoration: none;
}

.menu {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.menu li {
  margin-right: 34px;
  color: #b4b4b4;
  /* Very light color */
  transition: color 0.3s;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}


.menu li:hover {
  color: white;
  cursor: pointer;
}

.connect-button1 {
  display: none;
}

.button1 {
  background-color: #3eb489;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.connect-button {
  background-color: #191919;
  color: white;
  padding: 10px 15px;
  /* Reduce the width */
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.connect-button img {
  margin-right: 5px;
}

.header-icon {
  background-color: none;
  color: white;
  padding: 5px 5px;
  padding-left: 15px;
  padding-right: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
  display: flex;
  align-items: center;

}

.header-icon img {
  padding-right: 5px;
}

.header-icon div {
  padding-top: 5px;
}

.btn-primary {
  background-color: #191919;
}

.dropdown {
  display: none;
}

.menu-button {
  display: none;
  cursor: pointer;
}

.home-title {
  line-height: 1.2;
  font-size: 60px;
  font-weight: bold;
  font-style: serif;
  color: #fff;
}

h1 {
  font-size: 55px;
}

.description {
  margin-top: 60px;
  line-height: 1.5rem;
  max-width: 44.4rem;
  color: #cecece;
  margin-bottom: 2.8rem;
  margin-left: 150px;
  font-size: 20px;
  font-weight: 500;

}

.home-description {
  line-height: 1.5rem;
  color: #cecece;
  margin-top: 10px;
  font-style: sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.lanuch-button {
  background-color: #3eb489;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  margin-bottom: 100px;

}

.block1 {
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 350px;
  border: 0.01px solid rgb(58, 58, 58);
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #fff;
}

.info-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 350px;
  border: 0.01px solid rgb(58, 58, 58);
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #fff;
  margin-left: 30px;

}

.info-box {
  display: flex;
  align-items: center;
}

.info-icon {
  width: 50px;
  height: 50px;
  margin-right: 40px;
}


.info-title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  color: #cecece;
}

.info-value {
  font-size: 30px;
  margin: 0;
}

.line {
  width: 100%;
  /* Full width */
  height: 1px;
  /* Height of the line */
  background: rgb(58, 58, 58);
  /* Color of the line */
  margin-top: 20px;
}

.home-benefit {
  color: #fff;
  margin-left: 150px;
  margin-top: 80px;
}

.icon {
  margin-right: 20px;
}

.benefit-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.benefit-title {
  font-size: 25px;
}

.benefit-description {
  font-size: 18px;
  color: #cecece;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

.benefit-container {
  display: flex;
}

.card-info-title {
  margin-top: 90px;
  margin-left: 150px;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.card-option1, .card-option2 {
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 1.3rem;
  /* max-width: 59.2rem; */
  width: 32rem;
  height: 11rem;
  background: #151515;
  box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, .5215686274509804);
  border: 1px solid #4d4d4e;
  border-radius: 8px;
  margin-top: 20px;
}

.card-option1 {
  margin-left: 150px;
}

.card-option2 {
  margin-left: 20px;
}

.option-title {
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-top: 20px;
}

.option-apr {
  font-size: 15px;
  line-height: 2.3rem;
  letter-spacing: 0;
  color: #cecece
}

.option-icon {
  font-size: 25px;
  line-height: 2.3rem;
  letter-spacing: 0;
  color: #fff;
}

.option-action {
  display: flex;
}

.buy {
  margin-right: 20px;
  background-color: #3eb489;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.readmore {
  background-color: #191919;
  color: white;
  padding: 10px 15px;
  border: 0.01px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.card-option-container {
  display: flex;
}

.footer-logo {
  justify-content: center;
  margin-top: 40px;
  margin-left: 600px;
}

.footer-links1 {
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;

}

.footer-links1 {
  margin-right: 70px;
}

.footer-links1 a {
  margin-right: 10px;
  /* Adjust the margin as needed */
}

.footer-social-links {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.App-social-link {
  margin-right: 40px;
}

.footer-links {
  margin-right: 30px;
  text-decoration: none;
  color: white;
}


.modal {
  display: none;
  position: fixed;
  background-color: #191919;
  width: 300px;
  /* max-width: 400px; */
  border-radius: 5px;
  height: 240px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.modal-content {
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.Wallet-box {
  width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Add spacing between the boxes */

}

.Wallet-btn {
  background: none;
  width: 200px;
  border: none;
  display: flex;
  align-items: center;
  padding: 10px;
  /* Add padding to the buttons */
  border: 1px solid #ccc;
  /* Add a border to the buttons */
  border-radius: 5px;
  /* Add border radius for rounded corners */
}

.Wallet-btn div {
  color: white;
}

.Wallet-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Add CSS for responsive design */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .header-container {
    margin-left: 0;
  }

  /* .logo {
      margin-right: 0; 
      font-size: 6px;
      margin-left: 50px;
    } */


  .button1 {

    height: 35px;
  }

  .connect-button1 {
    background-color: #191919;
    color: white;
    padding: 5px 5px;
    /* Reduce the width */
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  .connect-button {
    display: none;
  }

  .header-icon {
    width: 50px;
    height: 25px;
    margin-left: 5px;
  }

  .home-title {
    font-size: 40px;
  }

  .description {
    margin-left: 20px;

  }

  .lanuch {
    text-align: center;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .block1, .info-block {

    margin-bottom: 20px;
    margin-left: 4px;
  }

  .benefit-container {
    display: inline-block;
  }

  .home-benefit {
    margin-left: 40px;
  }

  .card-option-container {
    display: inline-block;
  }

  .card-option1, .card-info-title {
    margin-left: 20px;
  }

  .card-option1, .card-option2 {
    width: 350px;
    height: 250px;
  }

  .footer-links1 {
    flex-direction: column;
  }

  .footer-logo {
    margin: auto;
  }

  .footer-links1, .footer-social-links {
    margin-left: 20px;
  }

  .footer-links {
    margin-bottom: 10px;
  }

  .App-header-small {
    display: flex;
  }

  .App-header-small {
    display: inline-block;
    position: relative;
  }

  .menu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #191919;
    /* Background color */
    border: 1px solid #191919;
    width: 50vw;
    /* Adjust the width as needed */
    max-height: 150vh;
    /* Adjust the max height as needed */
    overflow-y: auto;
    /* Add vertical scroll if necessary */
    padding: 10px;
    color: #cecece;
    /* Text color */
  }

  .App-header-small:hover .menu-list {
    display: block;
  }

  /* Style the list items as needed */
  .menu-list li {
    list-style: none;
    padding: 5px 0;
  }

  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
  }

  .logo-link img {
    margin-right: 10px;
    /* Adjust the spacing between the image and text */
  }

  .logo-link span {
    /* white-space: nowrap; Prevent text from wrapping */
    color: white;
    font-size: 12px;
  }

  .block1 img {
    margin-left: 70px;
  }

  .logo {
    margin-right: 10px
  }

  /*footer*/
  .footer-wrapper {
    justify-content: center;
    align-items: center;
  }

  .footer-logo, .footer-social-links, .footer-links1 {
    margin-left: 100px;
  }

  .footer-links-2 {
    margin-left: 28px;
    margin-bottom: 10px;
  }

  .footer-links-3 {
    margin-left: 40px;
  }
}